
.container{
  max-width: 1240px;
  min-width: 996px;
}

/*:start structure*/
.list-links li{
  width: 50px;
  height: 50px;
}
.logo {
  height: 50px;
  width: 150px;
  font-size: 32px;
  color: white;
}

.logo>a {
  height: 100%;
}

header .container {
  padding-top: 0;
  padding-bottom: 0;
}

header>*+* {
  margin-top: 10px;
}

.header-top {
  background: white url("./images/frame/bg-header.gif");
}

.header-info {}

.header-info>*+* {
  margin-top: 5px !important;
}

.header-login {
  margin-top: -2px;
  margin-bottom: 5px;
}

.header-login .btn {
  width: 84px;
}

.header-login li>a {
  display: block;
  width: 80px;
  color: #6e6e6e;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

/* 
.header-login li>a.home {
  background-image: url("./images/frame/header_nav_home_button.gif");
}

.header-login li>a.middle {
  width: 104px;
  background-image: url("./images/frame/header_nav_middle_button.gif");
}

.header-login li>a.last {
  background-image: url("./images/frame/header_nav_right_button.gif");
} */
.header-search {
  display: inline-block;
  margin: 0 auto;
  width: 250px;
  text-align: center;
}

.header-nav {
  background-color: black;
  background-image: url("./images/frame/bg-nav.png");
  /* background-image: url("./images/frame/navigation-bg.gif"); */
  background-repeat: repeat-x;
}

.header-nav li {
  position: relative;
  padding: 0;
}

.header-nav li>a {
  display: inline-block;
  padding: 0 15px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  border-left: 1px solid #ccc;
}

.header-nav li:first-child>a {
  border-left: 0;
}
.header-nav li>a:hover{
  text-decoration: none;
}
.header-nav li.active:after,
.header-nav li:hover:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.header-nav .container ul {
  word-spacing: -3px;
}

.header-sub-nav {
  margin-top: 0 !important;
}

.header-sub-nav {
  background-color: black;
  background-image: url("./images/frame/bg-sub-nav.png");
  /* background-image: url("./images/frame/navigation-bg.gif"); */
  background-repeat: repeat-x;
}

.header-sub-nav a {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  color: white;
  text-transform: uppercase;
}
.header-sub-nav li {
  position: relative;
  padding: 0;
}
.header-sub-nav li.active:after,
.header-sub-nav li:hover:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
}

/* .header-nav-sub>li {
  line-height: 28px;
}

.header-nav-sub>li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  background-color: #ccc;
}

.header-nav-sub>li:first-child:before {
  display: none;
}

.header-nav-sub>li>a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin-left: 1px;
  color: #ddd;
}

.header-nav-sub>li>a:hover:before,
.header-nav-sub>li>a.active:before {
  content: "\f138";
  position: absolute;
  top: 7px;
  left: 5px;
  margin-right: 5px;
  font: normal normal normal 14px/1 FontAwesome;
} */
.section-banner {
  background: white url(./images/frame/section-bg.gif) top;
}

.section-banner .container {
  padding-top: 0;
  padding-bottom: 0;
}

.section-banner .container .sqr-inner {
  padding: 0 20px;
}

.sqr--banner:before {
  padding-top: 20%;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #bababa;
}

footer a {
  color: white;
}

/*:start module*/
.article {
  padding: 15px;
}

.article p {
  margin-bottom: 20px;
}

.form-row {
  margin: 5px 0;
}

.form-row>input {
  box-sizing: border-box;
  vertical-align: middle;
}

.form-row>label {
  display: inline-block;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.form-row.wide>select,
.form-row.wide>textarea,
.form-row.wide>input {
  width: 100%;
  vertical-align: middle;
}

/*:start membership*/
.user-info {}

.user-info-photo {
  margin: 0 auto;
  max-width: 150px;
}

.user-info-photo img {
  width: 100%;
}

.user-info-list li+li {
  margin-top: 10px;
}

.user-info-menu {
  margin-top: 20px;
  background-color: #eee;
}

.user-info-menu li a {
  display: block;
  padding: 5px 10px 5px 5px;
}

.user-info-menu li.current a {
  font-weight: bold;
}

/*:start user message*/
.user-message .ntab.active {
  font-weight: bold;
}

.user-message .ntab-pane {
  padding: 15px 0;
}

.table-box {
  width: 100%;
}

.table-box td {
  padding: 10px;
  border: 1px solid #eee;
}

.table-box thead td {
  font-weight: bold;
  background-color: #f0f0f0;
}

/*:start box page*/
.box-page:before,
.box-page:after {
  content: "";
  display: table;
  clear: both;
}

.box-page {
  position: relative;
  padding-bottom: 30px;
}

.box-page-side {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
}

.box-page-content {
  padding-left: 250px;
  width: 100%;
  box-sizing: border-box;
}

/*override*/