/*START: MODULAR============================== */
.clear:after,
.clear:before {
  content: "";
  display: block;
  clear: both;
}

.sqr {
  position: relative;
}

.sqr:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.sqr-inner {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sqr--50:before {
  padding-top: 50%;
}

.inline {
  margin-left: -5px;
  margin-right: -5px;
}

.inline>* {
  display: inline-block;
  padding: 0 5px;
}

.al-right {
  text-align: right;
}

.as-table {
  display: table;
  width: 100%;
}

.as-table>* {
  display: table-cell;
  vertical-align: middle;
}

.box-show {
  margin: 10px;
  padding: 2px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.19);
}

.box-show-title {
  padding: 10px;
  background-color: #2e5d89;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase;
  color: white;
}

/*.box-show-content:before,
.box-show-content:after{
  content: "";
  display: table;
  clear: both;
}*/
.box-show-content {
  padding: 10px;
}

.box-show.show--green>.box-show-title {
  background-color: #57a85d;
}

.box-show.show--second>.box-show-title {
  background-color: #3e7c7b;
}

.box-show.show--admin {
  box-shadow: none;
}

.box-show.show--admin>.box-show-title {
  background-color: #f9fafb;
  border-bottom: 1px solid #eee;
  color: #222;
}

.tab-to-item {
  display: none;
}

.tab-to-item.active {
  display: inline-block;
}

/* IMAGE */
.image-center {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.image-center>img,
.image-center>*>img {
  position: absolute;
  max-width: none;
  top: 50%;
  left: 50%;
  width: auto !important;
  transform: translate(-50%, -50%);
}

.feature-info {
  text-align: center;
}

.feature-info-media {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 72px;
  color: white;
  background: #4782d3;
  border-color: #4782d3;
}

.feature-info-media i {
  line-height: 100px;
}

.feature-info-title {
  margin: 25px 0 20px;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
}

.feature-info-content * {
  color: #777;
}

.information {
  font-size: 16px;
  line-height: 32px;
}

.stock {
  text-align: center;
}

.stock * {
  color: #9bfb95 !important;
}

.stock-code {
  font-size: 1.5rem
}

.stock-price {
  margin: 20px 0;
  font-size: 3rem;
}

.stock-trend,
.stock-date {
  font-size: 1rem;
}

.stock--small .stock-code {
  font-size: 1rem;
}

.stock--small .stock-price {
  margin: 10px 0;
  font-size: 2rem;
}

#Mask {
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, .3);
  z-index: 99;
}

#Mask.open {
  display: block;
}

.person {
  margin: 0 auto;
  padding: 20px;
  max-width: 300px;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.person>*+* {
  margin-top: 15px;
}

.person-media {
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}

.person-title {
  margin-bottom: .75rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.person-position {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.person-detail {
  height: 200px;
  overflow: hidden;
  color: #777;
  /* text-overflow: ellipsis; */
}

.demo {
  text-align: center;
}

.demo+.demo {
  margin-top: 50px;
}

.demo-sensor {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 50px;
  height: 50px;
  z-index: 200;
}

.demo-cloud {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  z-index: 200;
}

.demo-terminal {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  z-index: 200;
}

.demo-line {
  position: absolute;
  width: 300px;
  border: 3px dashed #d2d2d2;
  z-index: 100;
}

.list-infos:after,
.list-infos:before {
  content: "";
  display: block;
  clear: both;
}

.list-infos-more {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: #999;
}

.list-infos-more * {
  display: inline-block !important;
  margin: 0 2px;
  vertical-align: middle;
  text-decoration: none;
}

.list-infos-more a:hover {
  color: black;
}

.list-info {
  display: table;
}

.list-info+.list-info {
  margin-top: 20px;
}

.list-info>* {
  display: table-cell;
  vertical-align: middle;
}

.list-info-media {
  width: 200px;
}

.list-info-title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.list-info-body {
  padding: 0 15px;
}

.list-info-body>*+* {
  margin-top: 10px;
}

.list-info-summary {
  color: #999;
}

.list-info-date {
  color: #999;
}

.list-info-auther {
  color: #999;
}

.list-links {
  color: black;
}

.list-links a {
  text-decoration: underline;
}

.list-links.right {
  text-align: right;
}

.list-links.center {
  text-align: center;
}

.list-infos--two {
  margin-left: -10px;
  margin-right: -10px;
}

.list-infos--two>* {
  float: left;
  margin: 0 !important;
  padding: 10px;
  width: 50%;
}

.list-infos--two .list-info-title {
  height: 60px;
  line-height: 30px;
  overflow: hidden;
}

.list-infos--two .list-info-summary {
  height: 50px;
  line-height: 25px;
  overflow: hidden;
}

.list-infos--brief .list-info-media {
  width: 80px;
}

.list-infos--brief .list-info-title {
  height: 34px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
}

.list-infos--brief .list-info-body>*+* {
  margin-top: 0;
}

.list-infos--brief .list-info-auther,
.list-infos--brief .list-info-summary {
  display: none;
}

.article>*+* {
  margin-top: 20px;
}

.article-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

.article-info {
  color: #999;
}

.block {
  display: table;
}

.block>* {
  display: table-cell;
  padding: 0 20px;
}

.block-side {
  padding-left: 0;
  width: 200px;
}

.block-side>*+* {
  margin-top: 20px;
}

.block--border .block-side {
  border-right: 1px solid #ccc;
}

/*END: MODULAR================================ */
/*:start structure*/
.logo {
  height: 50px;
  width: 150px;
  font-size: 32px;
  color: white;
}

.logo>a {
  height: 100%;
}

header .container {
  padding-top: 0;
  padding-bottom: 0;
}

.header-top {
  background: white url("./images/frame/header_bg.gif");
}

.header-input {
  width: 300px;
  text-align: left;
}

.header-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.header-ad {
  position: absolute;
  top: 0;
  left: 300px;
}

.header-info>*+* {
  margin-top: 5px !important;
}

.header-login {
  margin-bottom: 10px;
}

.header-login .btn {
  width: 90px;
}

.header-login li>a {
  display: block;
  width: 80px;
  color: #6e6e6e;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.header-login li>a.home {
  background-image: url("./images/frame/header_nav_home_button.gif");
}

.header-login li>a.middle {
  width: 104px;
  background-image: url("./images/frame/header_nav_middle_button.gif");
}

.header-login li>a.last {
  background-image: url("./images/frame/header_nav_right_button.gif");
}

.header-search {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.header-nav {
  height: 56px;
  background-color: black;
  background-image: url("./images/frame/navigation-bg.gif");
  background-repeat: repeat-x;
}

.header-nav li {
  float: left;
  box-sizing: border-box;
}

.header-nav li>a {
  display: block;
  font-size: 80%;
  text-transform: uppercase;
}

.header-nav-main>li>a {
  margin-right: -1px;
  width: 159px;
  height: 28px;
  overflow: hidden;
  line-height: 28px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.header-nav-main>li>a:hover {
  color: #0071bc;
  background-image: url("./images/frame/tabs.gif");
  background-position: center;
}

.header-nav-main>li>a.active {
  background-image: url("./images/frame/tabs.gif");
  background-position: bottom center;
}

.header-nav-sub>li {
  line-height: 28px;
}

.header-nav-sub>li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 15px;
  background-color: #ccc;
}

.header-nav-sub>li:first-child:before {
  display: none;
}

.header-nav-sub>li>a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  margin-left: 1px;
  color: #ddd;
}

.header-nav-sub>li>a:hover:before,
.header-nav-sub>li>a.active:before {
  content: "\f138";
  position: absolute;
  top: 7px;
  left: 5px;
  margin-right: 5px;
  font: normal normal normal 14px/1 FontAwesome;
}

.section-top {
  background: white url(./images/frame/section-bg.gif) top;
}

.section-top:before,
.section-top:after {
  content: "";
  display: table;
  clear: both;
}

.demo-1 {
  float: left;
  height: 165px;
  width: 552px;
  background: url(./images/frame/index_banner_link_smallcap.jpg);
}

.demo-2 {
  height: 165px;
  width: 410px;
  float: left;
  background: url(./images/frame/index_banner_link_investors.jpg);
}

.pager-inner {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #bababa;
}

footer a {
  color: white;
}

/*:start module*/
.article {
  padding: 15px;
}

.article p {
  margin-bottom: 20px;
}

.form-row {
  margin: 5px 0;
}

.form-row>input {
  box-sizing: border-box;
  vertical-align: middle;
}

.form-row>label {
  display: inline-block;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

.form-row.wide>select,
.form-row.wide>textarea,
.form-row.wide>input {
  width: 100%;
  vertical-align: middle;
}

/*:start membership*/
.user-info {}

.user-info-photo {
  margin: 0 auto;
  max-width: 150px;
}

.user-info-photo img {
  width: 100%;
}

.user-info-list li+li {
  margin-top: 10px;
}

.user-info-menu {
  margin-top: 20px;
  background-color: #eee;
}

.user-info-menu li a {
  display: block;
  padding: 5px 10px 5px 5px;
}

.user-info-menu li.current a {
  font-weight: bold;
}

/*:start user message*/
.user-message .ntab.active {
  font-weight: bold;
}

.user-message .ntab-pane {
  padding: 15px 0;
}

.table-box {
  width: 100%;
}

.table-box td {
  padding: 10px;
  border: 1px solid #eee;
}

.table-box thead td {
  font-weight: bold;
  background-color: #f0f0f0;
}

/*:start admin css===============================================*/
.admin {
  position: relative;
  min-height: 100vh;
  height: auto;
  min-width: 800px;
  overflow: hidden;
}

.admin-header {
  padding: 0 20px;
  background-color: #10223e;
}

.admin-header a {
  padding: 10px 15px;
  font-size: 14px;
  color: #ccc;
}

.admin-header:before,
.admin-header:after {
  content: "";
  display: table;
  clear: both;
}

.admin-header-nav>li {
  float: left;
}

.admin-header-nav>li>a {
  position: relative;
}

.admin-header-nav>li>a:hover {
  color: white;
}

.admin-header-nav>li>a.active:after {
  content: "\f0d8";
  position: absolute;
  left: 50%;
  bottom: -7px;
  margin-left: -5px;
  width: 0;
  color: white;
  font: normal normal normal 24px/1 FontAwesome;
}

.admin-header-info {
  float: right;
  box-sizing: border-box;
}

.admin-header-nav>li>a,
.admin-header-info a,
.admin-header-nav,
.admin-header-logo {
  display: inline-block;
  vertical-align: middle;
}

.admin-header-logo {
  font-size: 18px;
  color: #ccc;
}

.admin-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
}

.admin-footer>ul>li {
  float: left;
}

.admin-footer>ul>li>a {
  display: inline-block;
  padding: 5px 10px;
  color: #666;
  font-size: 12px;
}

/*:start box page*/
.box-page:before,
.box-page:after {
  content: "";
  display: table;
  clear: both;
}

.box-page {
  position: relative;
  padding-bottom: 30px;
}

.box-page-side {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
}

.box-page-content {
  padding-left: 250px;
  width: 100%;
  box-sizing: border-box;
}

/*override*/